apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: playwright-chrome
  name: playwright-chrome
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: playwright-chrome
  strategy: {}
  template:
    metadata:
    spec:
      containers:
        - env:
            - name: CHROME_REFRESH_TIME
              value: "600000"
            - name: CONNECTION_TIMEOUT
              value: "300000"
            - name: DEFAULT_BLOCK_ADS
              value: "true"
            - name: DEFAULT_IGNORE_HTTPS_ERRORS
              value: "true"
            - name: DEFAULT_STEALTH
              value: "true"
            - name: ENABLE_DEBUGGER
              value: "false"
            - name: MAX_CONCURRENT_SESSIONS
              value: "10"
            - name: PREBOOT_CHROME
              value: "true"
            - name: SCREEN_DEPTH
              value: "16"
            - name: SCREEN_HEIGHT
              value: "1024"
            - name: SCREEN_WIDTH
              value: "1920"
          image: browserless/chrome:1.60-chrome-stable
          name: playwright-chrome
          resources: {}
      hostname: playwright-chrome
      restartPolicy: Always
status: {}
